extends ../layout
block content
    .product-container
        .container
            .row.product-list
                if products && products.length>0
                    each product in products
                        .col-md-3.item
                            a(href="/goods/#{product._id}")
                                img.cover(src="#{product.picture && product.picture[0]}?imageView2/2/w/560/h/454/interlace/0/q/100")
                                if product.discount
                                    img.discount-logo(src="/images/discount.png")
                                h5.product-title #{product.name}
                                section.product-describe
                                    h6 #{product.subtitle}
                                    p 类型：#{product.type}
                                    p.ellipsis 原料：#{product.material}
                                    //p 口味：#{product.flavor}
                else
                    .no-order.text-danger(style="font-size:20px;line-height:50px")
                        .glyphicon.glyphicon-warning-sign
                        span  抱歉，没有找到
                            strong.text-danger  "#{keyword}"
                            span  相关产品
                    h4  为您推荐以下产品
                    .row.product-list
                        each product in recommend
                            .col-md-3.item
                                a(href="/goods/#{product._id}")
                                    img.cover(src="#{product.picture && product.picture[0]}?imageView2/2/w/560/h/454/interlace/0/q/100")
                                    if product.discount
                                        img.discount-logo(src="/images/discount.png")
                                    h5.product-title #{product.name}
                                    section.product-describe
                                        h6 #{product.subtitle}
                                        p 类型：#{product.type}
                                        p.ellipsis 原料：#{product.material}
                                        //p 口味：#{product.flavor}

